body {
  font-size: 14px;
  color: #fefefb;
  background-color: #363E3E
}
h1 {
  margin: 0 0 0.4rem;
}
code, div.code {
  background-color: #363e3e;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.2rem 0.5rem;
  color: #ffd0d0;
  white-space: pre-line
}
a {
  color: #fc0080;
  text-decoration: none;
}
a:hover {
  color: #750D86;
}

.App {
  margin: 0.5rem 2rem;
}

div.container {
  background-color: #222a2a;
  padding: 0.5rem 1rem 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 2px black;
}

div.renderCounter {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  border-radius: 4px;
}
div.renderCounter div {
  font-size: 14px;
  font-weight: bold;
}
div.renderCounter div:first-child {
  border-right: 2px solid black;
  padding: 1rem;
  width: 3rem;
}
div.renderCounter div.colorBlock {
  padding: 1rem; margin: 0;
  box-sizing: border-box;
}

button {
  color: white;
  background-color: #fc0080;
  padding: 0.4rem 0.8rem;
  margin: 0.2rem 0.6rem;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
button:hover {
  background-color: #750D86;
}
button.off {
  color: #ddd;
  background-color: #da7070;
}

div.tabmenu {
  padding-left: 1rem;
  margin-bottom: 0;
}
div.tabmenu button {
  margin: 0 0.5rem 0 0;
  border-radius: 0;
}
div.tabmenu button.active {
  background-color: #357D36;
}
div.tabmenu button.active:hover {
  background-color: #155D16;
}

@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
@keyframes falling {
  from { top: 0vh }
  to { top: 100vh }
}
.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.fall {
  animation-name: falling;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
