body {
  font-size: 14px;
  color: #fefefb;
  background-color: #222a2a;
}
h1 {
  margin: 0 0 0.4rem;
}

.App {
  margin: 0.5rem 2rem;
}


div.renderCounter {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  border-radius: 4px;
  border: 1px solid black;
}

div.renderCounter div {
  font-size: 14px;
  font-weight: bold;
  padding: 1rem;
}

div.renderCounter div:first-child {
  border-right: 2px solid black;
}

div.renderCounter div.colorBlock {
  padding: 0; margin: 0;
  border: 1px solid block;
  width: 2rem;
  box-sizing: border-box;
}

button {
  color: white;
  background-color: #fc0080;
  padding: 0.4rem 0.8rem;
  margin: 0.2rem 0.6rem;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

button:hover {
  background-color: #750D86;
}
